<div id="footer">
  <div id="footer-main">
    <div class="footer-section">
      <h4>Email: info@hiteahawaii.com</h4>
      <h4>Telephone: 808-205-8222</h4>
    </div>
    <div class="footer-section social">
      <a href="https://www.instagram.com/hiteahawaii/" target="blank"><img src="/assets/images/logo/ig.png" alt="instagram-logo"></a>
      <a href="https://www.facebook.com/hiteahawaii/" target="blank"><img src="/assets/images/logo/fb.png" alt="facebook-logo"></a>
      <a href="https://www.yelp.com/biz/hitea-cafe-honolulu" target="blank"><img src="/assets/images/logo/yelp.png" alt="yelp-logo"></a>
    </div>
    <div class="footer-section">
      <h4>Copyright <script>document.write(new Date().getFullYear())</script></h4>
    </div>
  </div>
</div>
