<nav>
  <ul>
    <li><a href="/"><img id="logo" src="/assets/images/logo/logo.png" alt="HiTEA-logo"></a></li>
    <li><a href="/index.html" {% if page.url == "/" %}style="color: #6ABD47;"{% endif %}>Home</a></li>
    <li><a href="/menu.html" {% if page.url == "/menu.html" %}style="color: #6ABD47;"{% endif %}>Menu</a></li>
    <li><a href="/about.html" {% if page.url == "/about.html" %}style="color: #6ABD47;"{% endif %}>About</a></li>
    <li><a href="https://www.clover.com/online-ordering/hitea-cafe-honolulu">Order Now</a></li>
  </ul>
</nav>
