.carousel {
  width: 100%;
}

.carousel-image {
  max-height: 650px;
  width: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(50%);
}

.carousel-caption {
  @include flex(row, center, center);
  text-align: center;
  height: 58%;
  h1 {
    font-size: 80px;
  }

  @include laptop{
    h1 {
      font-size: 40px;
      height: 85%;
    }
  }
}